form{
    font-size: 15px;
    background-image: linear-gradient(to right, blue,rgb(6, 248, 6), rgb(116, 245, 202));
    max-width: 500px;
    float: left;
    margin-left: 40%;
    margin-bottom: 20px;
}

form label{
    margin-left: 20px;
    color: black;
    font-weight: bold;
}
h1{
    margin-bottom: 20px;
}

input,textarea{
    width: 200px;
    padding: 10px;
    color: black;
    border-radius: 5px;
}
input:hover,textarea:hover{
    border-color: blue;
    box-shadow: 5px 0px 9px white;
    font-weight: bold;
}
textarea{
    width: 300px;
    height: 120px;
    line-height: 20px;
}
.submit input:hover{
    background-color: blue;
    font-weight:bold ;
    color: white;
    margin-left: 200px;

}

.maps{
    width: 600px;
    height: 600px;
    margin-left: 40%;
}